@media (max-width:1505px){
    .skill-rotated,.skill-line{
        display: none;
    }
}

@media (max-width:988px) and (min-width:515px){

    #contact{
        text-align: center;
    }
   
    #intro .row{
        text-align: center;
    }

    #Contact .h1-contact{
        margin-right: 0px;
    }

    #intro .mobile{
        padding:4%;
    }

    #intro .coding-pic{
        margin: -11% auto 2% auto;
    }

    @media (min-width:558px)  and (max-width:750px) {
        #skills{
            padding: 4%;
        }
    }
}


@media (max-width:600px) {

    #intro{
        position: relative;
    }

    #intro .navbar-brand{
        margin-left: -20px;
        padding: 0%;
    }

    #intro .navbar-toggler{
        margin: 2px -13px auto auto;
        position: relative;
    }

    #intro .Hello{
        font-size: 1.5rem;
    }

    #intro .h1-title{
        font-size: 3rem;
    }

    #intro .skills-title{
        font-size: 1.1rem;
    }

    #intro .mobile{
        text-align: center;
        margin-top: 20%;
        padding-left: 15px;
    }

    #intro .btn{
        width: 50%;
        font-size: 1rem;
        text-align: center;
    }

    #intro .coding-pic{
        margin-top: 0;
        padding-bottom: 15%;
    }

    #intro .container-fluid{
        padding-top: 3%;
    }

    #skills .skills-heading{
        font-size: 1.8rem;
    }

    #skills .skill-cards{
        max-width: 37%;
        align-items: center; 
    }

    #skills .btn{
        margin: auto;
        width: fit-content;
        margin-top: 8%;
        position: relative;
    }

    #rights p {
        margin-bottom: 0;
        margin-top: 3%;
        font-size: 0.8rem;
        align-content: center;
        display: contents;
    }

    /* #Contact .mobile-con,.email-con,.social-con{
        position: relative;
        padding-left: 20%;
        padding-top: 6%;
    }


    #Contact .h1-contact{
        padding-right: 0px;
        margin-right: 0px;
        font-size: 4rem;
    }

    #Contact .container-msg{
        text-align: center;
        position: relative;
        margin: -15% auto;
    }

    #Contact .mobile{
        position: relative;
        margin: -20% auto;
        margin-bottom: auto;
        padding-left: 75px;
    }

    #Contact .email, .links {
        margin: -25.5% auto 0 21%;
    } */

    #Contact {
        text-align: center;
    }

    #Contact .email-icon,.call-icon,.chain{
        display: none;
    }

    #Contact .mobile-con,.email-con,.social-con{
        margin-top: 22%;
        margin-left: -13%;
    }

    #Contact .p1 {
        margin-top: 2%;
    }

    #Contact .links{
        padding-top: 4%;
    }

    #Contact .h1-contact{
        margin: 10px;
    }


}
