@media (max-width:1505px){
    .skill-rotated,.skill-line{
        display: none;
    }
}

@media (max-width:988px) and (min-width:515px){

    #contact{
        text-align: center;
    }
   
    #intro .row{
        text-align: center;
    }

    #Contact .h1-contact{
        margin-right: 0px;
    }

    #intro .mobile{
        padding:4%;
    }

    #intro .coding-pic{
        margin: -11% auto 2% auto;
    }

    @media (min-width:558px)  and (max-width:750px) {
        #skills{
            padding: 4%;
        }
    }
}


@media (max-width:600px) {

    #intro{
        position: relative;
    }

    #intro .navbar-brand{
        margin-left: -20px;
        padding: 0%;
    }

    #intro .navbar-toggler{
        margin: 2px -13px auto auto;
        position: relative;
    }

    #intro .Hello{
        font-size: 1.5rem;
    }

    #intro .h1-title{
        font-size: 3rem;
    }

    #intro .skills-title{
        font-size: 1.1rem;
    }

    #intro .mobile{
        text-align: center;
        margin-top: 20%;
        padding-left: 15px;
    }

    #intro .btn{
        width: 50%;
        font-size: 1rem;
        text-align: center;
    }

    #intro .coding-pic{
        margin-top: 0;
        padding-bottom: 15%;
    }

    #intro .container-fluid{
        padding-top: 3%;
    }

    #skills .skills-heading{
        font-size: 1.8rem;
    }

    #skills .skill-cards{
        max-width: 37%;
        align-items: center; 
    }

    #skills .btn{
        margin: auto;
        width: fit-content;
        margin-top: 8%;
        position: relative;
    }

    #rights p {
        margin-bottom: 0;
        margin-top: 3%;
        font-size: 0.8rem;
        align-content: center;
        display: contents;
    }


    /* Contact css */

    #Contact h1.h1-contact.col-lg-6 {
        font-size: 3rem;
        padding: 0;
        margin-right: 0;
    }

    #Contact .col-lg-6.con-info {
        padding: 3%;
        margin-top: -12%;
        margin-left: 6%;
    }

    #Contact .mobile{
        position: relative;
        margin: -18% auto auto 21%;
    }

    #Contact .email,.links{
        position: relative;
        margin: -23% auto auto 21%;
    }

    #Contact svg.email-icon,svg.call-icon,svg.chain {
        padding: 2%;
    }

    #Contact .p1,.mobile-name,.links-name, .email-name {
        font-size: 1.5rem;
    }

    #Contact .p2,.mobile-number,.email-link {
        font-size: 1.2rem;
    }
        
    

}
