@media (max-width:1505px){
    .skill-rotated,.skill-line{
        display: none;
    }
}

@media (max-width:988px) and (min-width:515px){

    #contact{
        text-align: center;
    }
   
    #intro .row{
        text-align: center;
    }

    #Contact .h1-contact{
        margin-right: 0px;
    }

    #intro .mobile{
        padding:4%;
    }

    #intro .coding-pic{
        margin: -11% auto 2% auto;
    }

    @media (min-width:558px)  and (max-width:750px) {
        #skills{
            padding: 4%;
        }
    }
}


@media (max-width:600px)

{

    #intro{
        position: relative;
    }

    #intro .navbar-brand{
        margin-left: -20px;
        padding: 0%;
    }

    #intro .navbar-toggler{
        margin: 2px -13px auto auto;
        position: relative;
    }

    #intro .Hello{
        font-size: 1.5rem;
    }

    #intro .h1-title{
        font-size: 3rem;
    }

    #intro .skills-title{
        font-size: 1.1rem;
    }

    #intro .mobile{
        text-align: center;
        margin-top: 20%;
        padding-left: 15px;
    }

    #intro .btn{
        width: 50%;
        font-size: 1rem;
        text-align: center;
    }

    #intro .coding-pic{
        margin-top: 0;
        padding-bottom: 15%;
    }

    #intro .container-fluid{
        padding-top: 3%;
    }

    #skills .skills-heading{
        font-size: 1.8rem;
    }

    #skills .skill-cards{
        max-width: 37%;
        align-items: center; 
    }

    #skills .btn{
        margin: auto;
        width: fit-content;
        margin-top: 8%;
        position: relative;
    }

    #rights p {
        margin-bottom: 0;
        margin-top: 3%;
        font-size: 0.8rem;
        align-content: center;
        display: contents;
    }


    /* Contact css */

    #Contact h1.h1-contact.col-lg-6 {
        font-size: 3rem;
        padding: 0;
        margin-right: 0;
    }

    #Contact .col-lg-6.con-info {
        padding: 3%;
        margin-top: -12%;
        margin-left: 6%;
    }

    #Contact .mobile{
        position: relative;
        margin: -18% auto auto 21%;
    }

    #Contact .email,.links{
        position: relative;
        margin: -23% auto auto 21%;
    }

    #Contact svg.email-icon,svg.call-icon,svg.chain {
        padding: 2%;
    }

    #Contact .p1,.mobile-name,.links-name, .email-name {
        font-size: 1.5rem;
    }

    #Contact .p2,.mobile-number,.email-link {
        font-size: 1.2rem;
    }
    
    /* about page css */

    .about img.profile.mobile {
        margin: 20%;
        margin-top: 25%;
    }

    .about .con {
        margin: 54% auto auto -55%;
    }

    .about h3 {
        font-size: 2.5rem;
    }

    p.msg {
        font-size: 1.2rem;
    }

    .about h4 {
        font-size: 1.5rem;
    }
    
    .about .lists {
        font-size: 1.2rem;
    }

    .about .btn-dark.back-button {
        width: 24%;
        margin: 4.5% 3%;
        height: 6%;
    }


    /* project page css */

    #projects .btn-dark.back-button {
        width: 21%;
        height: 18%;
        border-radius: 100px;
        position: relative;
        margin: 6.8% 5%;
        font-size: 1.1rem;
    }

    .project-heading {
        text-align: center;
        margin-top: 1%;
        font-size: 2.5rem;
    }

    #projects .project-row {
        text-align: center;
        justify-content: center;
        padding: 10%;
          padding-top: 10%;
          padding-right: 10%;
          padding-bottom: 10%;
          padding-left: 10%;
        margin-top: -8%;
        margin-left: 6px;
    }

    #projects .card-img-top {
        height: max-content;
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
    }

    #projects .card-title {
        font-size: 1.8rem;
    }

    #projects .card-text {
        font-size: 1.1rem;
    }

    #projects .btn-dark {
        width: 43%;
        height: 16%;
        margin: 3% 5% auto 1px;
        text-align: center;
    }
}

/* joy page css */

@media (min-width:990px) and (max-width:1405px) {

    .joy .music-1,.music-2{
        margin: 20%;
    }

}

@media (min-width:350px) and (max-width:600px) {

    .joy .music-h3 {
        padding: 8%;
        position: absolute;
        z-index: 3;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    }

    .joy .music-1, .music-2 {
        height: 220px;
        width: 298px;
        background-color: #D9D9D9;
        display: -webkit-inline-box;
    }    
    
    .player-container #play-pause, #music2 {
        height: 80px;
        width: 80px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: 50%;
        display: inline-block;
        margin: 80%;
        background-color: #545454;
        border-radius: 50%;
        margin-left: 75%;
        text-indent: -9999999%;

    }    

    .joy .imgs {
        margin: auto;
        padding-top: 8%;
        box-sizing: -4%;
        height: 45vh;
        width: 30vh;
    }

    .joy .books-h2{
        font-size: 2rem;
    }

}
